.splash {
    display: flex;
    /*background-color: green;*/
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
body {
    /*display: flex;*/
    /*!*background-color: green;*!*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.splash > img {
    max-width: 70%;
    max-height: 60%;
}
